/* Estilos Generales */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #1a1a1a; /* Fondo oscuro para toda la página */
    color: #ffffff; /* Texto en color blanco */
    overflow-x: hidden; /* Previene desbordamiento horizontal */
}

/* Header Fijo en la Parte Superior */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333; /* Fondo oscuro del header */
    color: #fff;
    text-align: center;
    z-index: 10; /* Asegura que el header está sobre los otros elementos */
    padding: 15px 0; /* Espaciado interno arriba y abajo */
}

.container {
    padding-top: 100px; /* Espacio en la parte superior para evitar solapamiento con el header */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Estilos para botones, inputs y textos */
input[type="email"], input[type="text"], button {
    width: 80%; /* Ancho relativo para responsividad */
    max-width: 500px; /* Ancho máximo para grandes pantallas */
    padding: 10px;
    margin: 10px 0; /* Margen para separar elementos */
    border-radius: 5px; /* Bordes redondeados */
    border: 1px solid #7d6767; /* Borde sutil */
    background-color: #a58a8a; /* Fondo de los inputs */
    color: #fff; /* Color del texto */
}

button {
    background-color: #BB86FC; /* Color de fondo para botones */
    color: #333; /* Color de texto para botones */
    cursor: pointer; /* Cursor en forma de mano al pasar sobre botón */
}

button:hover {
    opacity: 0.8; /* Efecto al pasar el cursor sobre botones */
}

/* Popup */
#popupBanner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20; /* Sobre otros elementos, incluido el header */
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    color: #333; /* Texto oscuro para contraste */
}

/* Cerrar Popup */
#cerrarPopup {
    margin-top: 20px; /* Espacio arriba del botón */
    background-color: #f44336; /* Rojo para indicar acción de cerrar */
    color: #fff;
}

/* Ajustes para el Dashboard */
.dashboard, .transactions, .liquidity-bar-container, .liquidity-bar {
    width: 90%; /* Ancho para responsividad */
    max-width: 600px; /* Ancho máximo */
    margin: 20px auto; /* Centrado con margen */
}

.liquidity-bar {
    height: 20px;
    background-color: #4CAF50; /* Verde para la barra de liquidez */
    width: 50%; /* Ajustar según la liquidez actual */
    border-radius: 5px; /* Bordes redondeados */
}
